@model IEnumerable<_dock200.Models.shinIps2>
@using _dock200.Models
@using System.Reflection

@{

    Layout = "~/z____SM________Index.cshtml";
}

<style>
    main {
        width: 90vw;
        margin: auto;
        color: white;
        background-color: rgba(0, 0, 0, 0.58);
        padding: 2% 5%;
    }

    flex, flexT {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: space-between;
        outline: .5px solid red;
        font-size: 13px;
    }

        flexT a {
            display: block;
            border-bottom: 1px solid blue;
            width: 100%;
        }

    o {
        padding: .1% .2%;
    }

        o b {
            background: green;
            height: 80%;
            width: auto;
            color: rgba(0,0,0,0);
        }

    sm {
        font-size: 10px;
        color: #8e8e8e;
    }

    .obj {
        background: rgba(255, 255, 255, 0.10);
        color: black;
        height: 100%;
        width: 100%;
        padding: 1% 5%;
        outline: 1px solid blue;
    }

    h1 {
        color: white;
    }
</style>


<flexT style="width:80%; background-color:black;">
    <h2>Write the Reflections Code ..</h2>
    <a style="color: #656565;" href="https://en.wikipedia.org/wiki/Configuration_management_database">CMDB topics to fire on</a>
    <a href="https://stackoverflow.com/questions/24041062/know-when-to-retry-or-fail-when-calling-sql-server-from-c">   DatabaseRetries </a>
</flexT>

<flex class="objList">
    <div>
        <h1>objList</h1>
        <ul>
            <li>    ___ </li>
            <li>    ___ </li>
            <li>    ___ </li>
        </ul>
    </div>
</flex>

<flex class="changeHistory">
    <div>
        <h1>    changeHistory   </h1>
        <ul>
            <li>    ___ </li>
            <li>    ___ </li>
            <li>    ___ </li>
        </ul>
    </div>
</flex>

<flex class="changeTickets">
    <div>
        <h1>    changeTickets   </h1>
        <ul>
            <li>    ___ </li>
            <li>    ___ </li>
            <li>    ___ </li>
        </ul>
    </div>
</flex>



<flex style="flex-direction:column; float:right;width:28%">
    <img style="float:right;width:100%;height:auto" src="~/RF_CDM.gif" />
    <img style="float:right;width:100%;height:auto" src="~/flowMap.png" />
</flex>
@*@Html.DisplayNameFor(model => model.IP)
    @Html.DisplayNameFor(model => model.longitude)*@


@*@foreach (PropertyInfo prop in typeof(shinIps2).GetProperties()){

    prop.Name.ToString();
        }*@

<div class="obj">
    <flex style="width:100%; background-color:black;">     <h1>    Objects </h1> </flex>


    <h2>    ShinIp2 </h2>
    @{ var t = typeof(shinIps2);
        <h3>    Methods </h3>
        foreach (var meth in t.GetMethods())
        {
            if (!(@meth.Name.Contains("set") || meth.Name.Contains("get")))
            { <flex>  <o> <b>■</b> Method: </o>  <o>@meth.Name </o> </flex> }
    }

    <h3>Constructors</h3>
    foreach (var con in t.GetConstructors())
    { <flex>
            @con
        </flex>}      //foreach (var propValue in t.GetProperty(prop).GetValue()



    <h3>    Properties  </h3>
    foreach (var prop in t.GetProperties())
    { <flex>
            <sm>@prop.PropertyType</sm>
            @prop.Name
        </flex>}      //foreach (var propValue in t.GetProperty(prop).GetValue()



    <h3>    Owner Details   </h3>

    @*

        <h2>    Fields  </h2>
        foreach (var fields in t.GetFields())
        { <div> @fields.Name </div> }

        foreach (var e in t.GetEnumNames())
        { <div>   @e     </div> }

    *@
    }



    @*@{
          foreach (var prop in typeof(Model[).GetRuntimeProperties() {


              @prop.Name.ToString();
          }~

        }*@


</div>