@model IEnumerable<_dock200.Models.RefEmpAp_M>
<style>

    CreateDataInputs, #CreateDataInputs, .CreateDataInputs {
        outline: 1px solid grey;
        height: 10vh;
        width: 100%;
        padding: 2% 5%;
        margin: 2% 5%;
    }
</style>
<div>Create</div>


<div class="flexCol">    <h2>     LN   </h2>    <input type="text" id="LN" /></div>
<div class="flexCol">    <h2>     MI   </h2>    <input type="text" id="MI" /></div>
<div class="flexCol">    <h2>     Street Address   </h2>    <input type="text" id="StAddress" /></div>
<div class="flexCol">    <h2>     City</h2>    <input type="text" id="City" /></div>
<div class="flexCol">    <h2>     Zip Code   </h2>    <input type="text" id="Zipcode" /></div>
<div class="flexCol">    <h2>     Phone   </h2>    <input type="text" id="Phone" /></div>
<div class="flexCol">    <h2>     Email   </h2>    <input type="text" id="Email" /></div>
<div class="flexCol">    <h2>     Permanent Address   </h2>    <input type="text" id="PermAddress" /></div>
<div class="flexCol">    <h2>     Position Applied for </h2>    <input type="text" id="PositionAppliedFor" /></div>
<div class="flexCol">    <h2>     Work Weekends</h2>    <input type="text" id="WorkWeekends" /></div>
<div class="flexCol">    <h2>     Work Evenings   </h2>    <input type="text" id="WorkEvenings" /></div>
<div class="flexCol">    <h2>     LegallyEligibleEmp   </h2>    <input type="text" id="LegallyEligibleEmp" /></div>
<div class="flexCol">    <h2>     LegallyEligibleEmp   </h2>    <input type="text" id="LegallyEligibleEmp" /></div>


<div class="flexCol">    <h2>     Highest Level Attended   </h2>    <input type="text" id="HighestLevelAtended" /></div>
<div class="flexCol">    <h2>     Highest Degree   </h2>    <input type="text" id="HighestDegree" /></div>
<div class="flexCol">    <h2>     School   </h2>    <input type="text" id="School" /></div>
<div class="flexCol">    <h2>     Currently Student   </h2>    <input type="text" id="CurrentlyStudent" /></div>
<div class="flexCol">    <h2>     Student Capacity   </h2>    <input type="text" id="StudentCapacity" /></div>
<div class="flexCol">    <h2>     Employer   </h2>    <input type="text" id="Employer" /></div>
<div class="flexCol">    <h2>     Date From   </h2>    <input type="text" id="EMPDateFrom" /></div>
<div class="flexCol">    <h2>     Date To   </h2>    <input type="text" id="EMPDateTo" /></div>
<div class="flexCol">    <h2>     City   </h2>    <input type="text" id="EMPCity" /></div>
<div class="flexCol">    <h2>     State   </h2>    <input type="text" id="EMPState" /></div>
<div class="flexCol">    <h2>     Phone   </h2>    <input type="text" id="EMPPhone" /></div>
<div class="flexCol">    <h2>     Manager   </h2>    <input type="text" id="EMPManager" /></div>
<div class="flexCol">    <h2>     May We Contact   </h2>    <input type="text" id="MayWeContact" /></div>
<div class="flexCol">    <h2>     Signature   </h2>    <input type="text" id="Signature" /></div>
<div class="flexCol">    <h2>     Date   </h2>    <input type="text" id="SigDate" /></div>

<div class="flexCol">    <h2>     Date Received   </h2>    <input type="text" id="DateRecieved" /></div>
<div class="flexCol">    <h2>     Interview Date   </h2>    <input type="text" id="InterviewDate" /></div>
SpecialNotes

@Html.EditorFor(m => m.FirstOrDefault().LN);

    
    <field>  			@Html.Editor("MI")                                                                                                                                                                          </field>
    <field>  			@Html.Editor("StAddress")                                                                                                                                           </field>
    <field>  			@Html.Editor("City")                                                                                                                                           </field>
    <field>  			@Html.Editor("Zipcode")                                                                                                                                           </field>
    <field>  			@Html.Editor("Phone")                                                                                                                                           </field>
    <field>  			@Html.Editor("Email")                                                                                                                                           </field>
    <field>  			@Html.Editor("PermAddress")                                                                                                                                           </field>
    <field>  			@Html.Editor("PositionAppliedFor")                                                                                                                                           </field>
    <field>  			@Html.Editor("WorkWeekends")                                                                                                                                           </field>
    <field>  			@Html.Editor("WorkEvenings")                                                                                                                                           </field>
    <field>  			@Html.Editor("LegallyEligibleEmp")                                                                                                                                           </field>
    <field>  			@Html.Editor("Transportation")                                                                                                                                           </field>

    <field>  			@Html.Editor("HighestLevelAtended")                                                                                                                                           </field>
    <field>  			@Html.Editor("HighestDegree")                                                                                                                                           </field>
    <field>  			@Html.Editor("School")                                                                                                                                           </field>
    <field>  			@Html.Editor("CurrentlyStudent")                                                                                                                                           </field>
    <field>  			@Html.Editor("StudentCapacity")                                                                                                                                           </field>
    <field>  			@Html.Editor("Employer")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPDateFrom")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPDateTo")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPCity")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPState")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPPhone")                                                                                                                                           </field>
    <field>  			@Html.Editor("EMPManager")                                                                                                                                           </field>
    <field>  			@Html.Editor("MayWeContact")                                                                                                                                           </field>
    <field>  			@Html.Editor("Signature")                                                                                                                                           </field>
    <field>  			@Html.Editor("SigDate")                                                                                                                                           </field>

    <field> 			@Html.Editor("DateRecieved")                                                                                                                                           </field>
    <field>  			@Html.Editor("InterviewDate")                                                                                                                                           </field>
    <field>             @Html.Editor("SpecialNotes")                                                                                                         </field>>



        <CreateDataInputs>
            <h1> Refinery Create New Hire Emp App </h1>

        </CreateDataInputs>
