@model IEnumerable<_dock200.Models.RefEmpAp_M>

@{ Layout = "~/z____SM________Index.cshtml";}

<h1>RefEmpApp_Ls</h1>


<table class="table">
    <thead>
        <tr>
            <th>                @Html.DisplayNameFor(model => model.TodayDate)            </th>
            <th>                @Html.DisplayNameFor(model => model.FN)            </th>
            <th>                @Html.DisplayNameFor(model => model.LN)            </th>
            <th>                @Html.DisplayNameFor(model => model.MI)            </th>
            <th>                @Html.DisplayNameFor(model => model.StAddress)            </th>
            <th>                @Html.DisplayNameFor(model => model.City)            </th>
            <th>                @Html.DisplayNameFor(model => model.Zipcode)            </th>
            <th>                @Html.DisplayNameFor(model => model.Phone)            </th>
            <th>                @Html.DisplayNameFor(model => model.Email)            </th>
            <th>                @Html.DisplayNameFor(model => model.PermAddress)            </th>
            <th>                @Html.DisplayNameFor(model => model.PositionAppliedFor)            </th>
            <th>                @Html.DisplayNameFor(model => model.WorkWeekends)            </th>
            <th>                @Html.DisplayNameFor(model => model.WorkEvenings)            </th>
            <th>                @Html.DisplayNameFor(model => model.LegallyEligibleEmp)            </th>
            <th>                @Html.DisplayNameFor(model => model.Transportation)            </th>
            <th>                @Html.DisplayNameFor(model => model.HighestLevelAtended)            </th>
            <th>                @Html.DisplayNameFor(model => model.HighestDegree)            </th>
            <th>                @Html.DisplayNameFor(model => model.School)            </th>
            <th>                @Html.DisplayNameFor(model => model.CurrentlyStudent)            </th>
            <th>                @Html.DisplayNameFor(model => model.StudentCapacity)            </th>
            <th>                @Html.DisplayNameFor(model => model.Employer)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPDateFrom)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPDateTo)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPCity)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPState)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPPhone)            </th>
            <th>                @Html.DisplayNameFor(model => model.EMPManager)            </th>
            <th>                @Html.DisplayNameFor(model => model.MayWeContact)            </th>
            <th>                @Html.DisplayNameFor(model => model.Signature)            </th>
            <th>                @Html.DisplayNameFor(model => model.SigDate)            </th>
            <th>                @Html.DisplayNameFor(model => model.DateRecieved)            </th>
            <th>                @Html.DisplayNameFor(model => model.InterviewDate)            </th>
            <th>                @Html.DisplayNameFor(model => model.SpecialNotes)            </th>
            <th>                _________            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>              @item.TodayDate)                                                                                                                                                                                       </td>
                <td>              @item.FN)                                                                                                                                                                                              </td>
                <td>              @item.LN)                                                                                                                                                                                              </td>
                <td>              @item.MI)                                                                                                                                                                                              </td>
                <td>              @item.StAddress)                                                                                                                                                                                              </td>
                <td>              @item.City)                                                                                                                                                                                              </td>
                <td>              @item.Zipcode)                                                                                                                                                                                              </td>
                <td>              @item.Phone)                                                                                                                                                                                              </td>
                <td>              @item.Email)                                                                                                                                                                                              </td>
                <td>              @item.PermAddress)                                                                                                                                                                                              </td>
                <td>              @item.PositionAppliedFor)                                                                                                                                                                                              </td>
                <td>              @item.WorkWeekends)                                                                                                                                                                                              </td>
                <td>              @item.WorkEvenings)                                                                                                                                                                                              </td>
                <td>              @item.LegallyEligibleEmp)                                                                                                                                                                                              </td>
                <td>              @item.Transportation)                                                                                                                                                                                              </td>
                <td>              @item.HighestLevelAtended)                                                                                                                                                                                              </td>
                <td>              @item.HighestDegree)                                                                                                                                                                                              </td>
                <td>              @item.School)                                                                                                                                                                                              </td>
                <td>              @item.CurrentlyStudent)                                                                                                                                                                                              </td>
                <td>              @item.StudentCapacity)                                                                                                                                                                                              </td>
                <td>              @item.Employer)                                                                                                                                                                                              </td>
                <td>              @item.EMPDateFrom)                                                                                                                                                                                              </td>
                <td>              @item.EMPDateTo)                                                                                                                                                                                              </td>
                <td>              @item.EMPCity)                                                                                                                                                                                              </td>
                <td>              @item.EMPState)                                                                                                                                                                                              </td>
                <td>              @item.EMPPhone)                                                                                                                                                                                              </td>
                <td>              @item.EMPManager)                                                                                                                                                                                                                                                                                                                                                                                </td>
                <td>              @item.MayWeContact                                                                                                                                                                                              </td>
                <td>              @item.Signature                                                                                                                                                                                              </td>
                <td>              @item.SigDate                                                                                                                                                                                              </td>
                <td>              @item.DateRecieved                                                                                                                                                                                              </td>
                <td>              @item.InterviewDate                                                                                                                                                                                              </td>
                <td>              @item.SpecialNotes                                                                                                                                                                                              </td>
                <td>                _________                                                                                                                                                                                              </td>
            </tr>
        }
    </tbody>
</table>
